{
  "presets": [["@babel/preset-env", { "modules": false }], "@babel/preset-typescript"],
  "plugins": [
    "@babel/proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties"
    // "@babel/plugin-transform-runtime"
  ]
}
